[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = git://github.com/mhinz/vim-startify
[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = git://github.com/valloric/youcompleteme
[submodule "bundle/syntax"]
	path = bundle/syntax
	url = git://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/cmake-syntax"]
	path = bundle/cmake-syntax
	url = git://github.com/nickhutchinson/vim-cmake-syntax.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript
[submodule "bundle/riv"]
	path = bundle/riv
	url = https://github.com/rykka/riv.vim
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
